<div class="hero-unit">
  <div class="row">
    <div class="span2">
      <%= image_tag 'duckie.png' %>
    </div>
    <div class="span4">
      <h1>Feelin'</h1>
      <h2>Duckie</h2>
    </div>
  </div>  
  <p><a class="btn btn-success btn-large pull-right" href="mailto:jsadusky@gmail.com">Contact me &raquo;</a></p>
</div>

<h1>Listing posts</h1>

<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?',
                                     :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>